
/* stili header */

*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    vertical-align: middle;
}

h1{
    vertical-align: middle;
    display: inline-block;
}

header{
    height: 100px;
    line-height: 100px;
}


/* stili main */

.Container{
    background-color: white;
   padding: 20px 0px 0px 40px;
}